@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card {

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 1 rem; */
    max-width: 300px;
    min-width: 200px;
    height: 300px;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
}

img {
    width: 100%;
    height: 200px;
    object-fit: contain;

    /* margin: 1rem; */

}

.titles {
    margin: 10px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-family: 'Shadows Into Light', cursive;
}

.imagediv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 0;
}

.container {
    color: white;
    background-color: #black;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.outer-box {
    filter: grayscale(0%);
}

.inner-box {
    filter: grayscale(100%);
}

.showtext{
    /* height: 120px; */
    position: absolute;
    bottom: 0;
    font-size: smaller;
    display: none;
    padding: 5px;
    background: rgba(0, 0, 0, .5);
    transition: all 2s;
}


